body {
    font-size: 16px;
    line-height: 32px;
    font-family: Ubuntu, sans-serif;
    color: black;
}

h1 {
    font-size: 3.5rem;
    line-height: 50px;
    color: white;
}

h2 {
    font-size: 2.5rem;
    text-align: left;
    border-bottom: 2px solid rgb(248, 154, 126);
    color: rgb(250, 173, 137);
}

header,
main,
footer {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 1000px;
}

header,
footer,
footer a {
    background-color: rgb(248, 154, 126);
    color: whitesmoke;
}

header img {
    width: 350px;
    height: auto;
    float: right;
}

footer {
    font-size: 1rem;
    margin: auto;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    text-decoration: none;
    font-size: 20px;
}

li a {
    display: block;
    padding: 8px;
    color: whitesmoke;
}

ul li a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


/* RESUME */

.canvas-container h1 {
    color: black;
    font-size: 3rem;
}

.canvas-container h2 {
    font-size: 2.5rem;
    text-align: left;
    border-bottom: none;
    color: black;
}

.canvas-container body {
    background: lightgray;
    color: black;
}

.canvas-container {
    margin: 0 auto;
    /* for centering, feel free to use flexbox or some other method*/
    box-sizing: border-box;
    padding: 0.5in;
    /* controls margins */
    width: 8.5in;
    height: 11in;
    background-color: white;
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
    color: black;
}

.multicolumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}


/* COURSES PAGE */

.courseH2 {
    font-size: 2rem;
    text-align: center;
    border-bottom: 2px solid rgb(211, 143, 112);
    color: rgb(211, 143, 112);
}