body {
    display: block;
    background: rgb(139, 154, 146);
    margin: 5px;
    align-content: center;
}

.code {
    margin: 5px;
    width: 300px;
}

#code {
    width: 90%;
    margin: auto;
    align-content: center;
}


/* TOPIC 8 */

#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: blanchedalmond;
}

#animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: black;
}


/* TOPIC 11 */

a.example1 {
    font-size: 15px;
    color: black;
    background-color: tan;
    display: block;
    width: 100px;
    padding: 20px;
}

a.example1:hover {
    font-size: 15px;
    color: white;
    transition: all 10s ease-out 2s;
    background-color: black;
}

a.example2 {
    font-size: 15px;
    color: black;
    background-color: plum;
    display: block;
    width: 100px;
    padding: 20px;
}

a.example2:hover {
    font-size: 15px;
    color: white;
    transition: all 2s linear 0s;
    background-color: black;
}

a.example3 {
    font-size: 15px;
    color: black;
    background-color: palevioletred;
    display: block;
    width: 100px;
    padding: 20px;
}

a.example3:hover {
    font-size: 15px;
    color: white;
    transition: all 10s ease 2s;
    background-color: black;
}

.examplepic {
    height: 350px;
    padding: 15px;
}

.examplepicc {
    width: 500px;
}


/* TOPIC 12 */

#poppies {
    transform: skewx(15deg) translatex(150px);
    transform-origin: bottom right;
}

#poppiesHover:hover {
    transform: skewx(20deg) translatex(10px);
    transform-origin: bottom right;
}

#code12 {
    width: 400px;
    padding: 20px;
}


/* TOPIC 13 */

#topic13div {
    width: 100px;
    height: 100px;
    background-color: pink;
    position: relative;
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s;
    /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 5s;
}

@keyframes example {
    0% {
        background-color: pink;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: yellow;
        left: 100px;
    }
    50% {
        background-color: whitesmoke;
        left: 200px;
    }
    75% {
        background-color: burlywood;
        left: 300px;
    }
    100% {
        background-color: pink;
        left: 400px;
    }
}

#topic13csscode {
    width: 300px;
}

#topic13htmlcode {
    width: 300px;
}


/* TOPIC 9 */

#common {
    width: 500px;
}

.hide {
    visibility: hidden;
}