body {
    font-size: 16px;
    line-height: 32px;
    font-family: Ubuntu, sans-serif;
}

h1 {
    font-size: 1.2rem;
    line-height: 20px;
    color: white;
    text-align: center;
    font-size: 36px;
    }

.dropmenu {
        background-color: #506f82;
        color: white;
        padding: 16px;
        font-size: 20px;
        border: none;
        width: 450px;
        }
      
.menu {
        position: relative;
        display: inline-block;
        }

.dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 450px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }
      
.dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        }
      
.dropdown-content a:hover {background-color: #B5C7DD}
      
.menu:hover .dropdown-content {display: block;}
      
.menu:hover .dropmenu {background-color: #B5C7DD;}

header, main, footer {
    margin: 0rem auto;
    padding: 1rem;
    max-width: 450px;
    }
header, footer, footer a {
    text-align: center;
    color: whitesmoke;
    }
header {
    background-color: rgb(104, 21, 0, 0.925);
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: center;
}
main {
    background-color: #506F82;
    color: whitesmoke;
    text-align: center;
}
header img {
    width: 80px;
    height: auto;
    float: left;
    }

footer {
    font-size: 1.25rem;
    font-family: 'Oswald', sans-serif;
    background-color: #B5C7DD;
    }

main {
    max-width:450px;
    margin:0 auto;
}
    
h2 {
    text-align: center;
    font-size:2rem;
    text-shadow:3px 3px 5px #777;}
    
.town {
    margin: 10px auto;
    position: relative;
}

.hero-pic {
    margin: 10px auto;
    background-color: #eeeee;
    border: 1px solid #333;
    width: 450px;
    height: 200px;
}
    
 .weatherstats {
        position: absolute;
        top: 10px;
        left: 10px;
        background: rgb(104, 21, 0, 0.925);
        border: 1px solid white;
        padding: 1rem;
        box-shadow: 0 0 30px #fff;
        height: 60px;
    }

.particle {
    width: 450px;
    text-align: left;
    background-color: rgb(104, 21, 0, 0.925);
}
   
