@media screen and (min-width: 768px) {
    .particle article img {
        float: right;
        max-width: 500px;
        position: relative;
        top: 30px;
        padding: 20px;
        margin: auto;
    }
    .particle {
        text-align: left;
    }
    .contact {
        text-align: left;
    }
    footer {
        text-align: left;
        margin: auto;
        margin-right: auto;
        margin-left: auto;
    }
    .fiveday {
        display: inline;
        color: white;
    }
    table,
    th,
    td {
        border: 1px solid black;
        text-align: center;
    }
    table {
        padding: 5px;
        align-content: center;
        width: 100%;
    }
    .fiveday h4 {
        text-align: center;
        line-height: 2px;
    }
    .fiveday {
        align-content: center;
    }
    th {
        background-color: rgba(104, 21, 0, 0.76);
    }
    #navigation .active {
        background-color: burlywood;
    }
    .tbl {
        margin: auto;
    }
    picture .heroimg {
        margin: auto;
    }
    .heroimg img {
        width: 90%;
    }
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }
    .header {
        display: flex;
        align-content: center;
    }
    .gallery img {
        width: 100%;
        justify-items: center;
    }
    .fig:hover {
        box-shadow: 0 0 50px #333;
    }
    .gallery .fig img {
        justify-items: center;
    }
    .heroimg .medium {
        display: none;
    }
    .heroimg .small {
        display: none;
    }
    form label.sbs {
        padding: 7px 0;
    }
    .towns {
        margin-bottom: 5em;
    }
    .jarticle {
        border-collapse: separate;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
    }
    .jarticle div {
        margin: 5px;
    }
    .social {
        max-width: 20px;
    }
}