@media screen and (min-width: 600px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .gallery img {
        width: 90%;
        justify-content: center;
    }
    .heroimg .small {
        display: none;
    }
    .heroimg .large {
        display: none;
        width: 90%;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: inline-block;
        margin-right: 1rem;
    }
    .navigation li a {
        color: white;
    }
    .head .title {
        align-items: center;
    }
    .towns {
        display: flex;
        flex-flow: row wrap;
    }
    .jarticle {
        justify-content: center;
        border-collapse: collapse;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        text-align: center;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: .2px;
        width: 92%;
        background-color: #202d35;
        padding: 10px;
        vertical-align: middle;
    }
    .particle article img {
        max-width: 400px;
        margin: auto;
    }
}