@media screen and (min-width: 600px) {
    /* MENU */
    /* CONTACT PAGE */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: .2px;
        background-color: #373737;
        padding: 10px;
        vertical-align: middle;
    }
    .form-flex-container>div {
        width: 500px;
        margin: 10px;
        text-align: center;
        line-height: 10px;
        font-size: 12px;
    }
    .grid-container-reception {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        background-color: rgb(235, 225, 225);
        padding: 15px;
        border: 1px solid rgb(172, 153, 91);
    }
}